<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.introml.activityrecognition">

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-feature
        android:name="@string/step_detector"
        android:required="false" />
    <uses-feature
        android:name="@string/step_counter"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
        <activity android:name="com.example.kira.zalohackathon.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <meta-data
            android:name="com.samsung.android.health.permission.read"
            android:value="com.samsung.health.heart_rate" />

        <activity
            android:name="com.example.kira.zalohackathon.HeartRateMeasure.HeartRateMonitor"
            android:label="@string/heartRate_measure" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kira.zalohackathon.HeartRateMeasure.HeartRateMonitor" />
        <activity android:name="com.example.kira.zalohackathon.MonitoringActivity" />
        <activity android:name="com.example.kira.zalohackathon.SamsungHealthConnect">

        </activity>
        <activity android:name="com.example.kira.zalohackathon.SettingActivity"></activity>
    </application>

</manifest>